.app {
  text-align: center;
  background-color: #8D663C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.app__header {
  font-size: 3rem;
  color: white;
  width: 90vw;
  max-width: 800px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  background: grey;
  height: 55px;
  font-size: 1.5rem;
  padding: 10px 20px;
  color: white;
  border-radius: 12px;
  border: 1px solid grey;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.joke__wrapper {
  margin-top: 3rem;
  font-size: 1.5rem;
}
